<h1>Quick PokéSearch Results</h1>



<body>

<p>Here's what <%= session.fetch(:display_name)%> looks like:</p>

<img src="<%= session.fetch(:sprite_url)%>" alt="Pokémon Sprite for <%= session.fetch(:display_name)%>" style="width: 192px; height: auto;"> <br>

Try visiting one of the websites linked below for more information:<br> <br>


<a href=<%= @official_web_address %>>Official Pokémon Website</a><br>

<a href=<%= @bulba_web_address %>>Bulbapedia</a><br>

<a href=<%= @serebii_web_address %>>Serebii.net</a><br>
</body>

<footer>
<form action="/search_one">
  <button>Go back to the Homepage</button>
</form>
</footer>
